* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin: 20px;
}

.app {
  display: grid;
  height: 100vh;
  grid-template-rows: 150px 1fr;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
